apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-creds
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  data:
  - secretKey: username
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: secret/grafana
      property: username
  - secretKey: password
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: secret/grafana
      property: password
