grafana:
  env:
    # GF_ANALYTICS_CHECK_FOR_UPDATES: false
    # GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
    GF_ANALYTICS_REPORTING_ENABLED: false
    GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
    GF_EXPLORE_ENABLED: true
    GF_GRAFANA_NET_URL: https://grafana.net
    GF_LOG_FILTERS: rendering:debug
    GF_LOG_MODE: console
    GF_DIAGNOSTICS_PROFILING_ENABLED: true
    GF_DIAGNOSTICS_PROFILING_ADDR: 0.0.0.0
    GF_DIAGNOSTICS_PROFILING_PORT: 6060
    # GF_SERVER_ROOT_URL: "https://grafana.${SECRET_DOMAIN}"
    GF_FEATURE_TOGGLES_ENABLE: flameGraph
    GF_AUTH_ANONYMOUS_ENABLED: true
    GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
    GF_NEWS_NEWS_FEED_ENABLED: false
    GF_PANELS_DISABLE_SANITIZE_HTML: true
    GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel,grafana-lokiexplore-app
    GF_SECURITY_ALLOW_EMBEDDING: true
    # GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: true
    GF_SERVER_ROOT_URL: https://grafana.prod.techsecom.io
    GF_SECURITY_COOKIE_SAMESITE: grafana
    TZ: America/Chicago
    GF_DATABASE_TYPE: postgres
    GF_DATABASE_HOST: cnpg-cluster-rw.cnpg-system.svc.cluster.local:5432
    GF_DATABASE_NAME: grafana
    GF_DATABASE_SSL_MODE: disable
  admin:
    existingSecret: grafana-admin-creds
    userKey: username
    passwordKey: password
  assertNoLeakedSecrets: false
  initChownData:
    enabled: false
  useStatefulSet: true
  persistence:
    enabled: true
    type: statefulset
    storageClassName: nfs-csi
    accessModes: [ "ReadWriteMany" ]
    size: 5Gi

  grafana.ini:
    server:
      root_url: https://grafana.prod.techsecom.io
    analytics:
      check_for_updates: false
      check_for_plugin_updates: true
    auth.anonymous:
      org_name: "Techsecom Consulting Group"
    dataproxy:
      max_idle_connections: 500
    security:
      allow_embedding: true
    feature_toggles:
      provisioning: true
      kubernetesDashboards: true
    auth:
      auto_login: true
      disable_signout_menu: false
    auth.generic_oauth:
      enabled: true
      client_id: <path:secret/data/grafana#client_id>
      client_secret: <path:secret/data/grafana#client_secret>
      allow_sign_up: true
      scopes: openid profile email roles
      auth_url: <path:secret/data/grafana#auth_url>
      token_url: <path:secret/data/grafana#token_url>
      api_url: <path:secret/data/grafana#api_url>
      use_pkce: true
      use_refresh_token: true
    users:
      auto_assign_org: true
      auto_assign_org_role: Editor
    paths:
      data: /var/lib/grafana/data
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning
    database:
      type: postgres
      host: "cnpg-cluster-rw.cnpg-system.svc.cluster.local:5432"
      name: grafana
      user: $__file{/etc/secrets/username}
      password: $__file{/etc/secrets/password}
      ssl_mode: disable
    plugins:
      allow_loading_unsigned_plugins: grafana-pyroscope-app,grafana-exploretraces-app
  extraSecretMounts:
  - name: grafana-db-secret
    secretName: grafana-user-secret
    mountPath: /etc/secrets
    readOnly: true
  serviceMonitor:
    enabled: true
  serviceAccount:
    autoMount: true
  extraEnvFrom:
  - secretRef:
      name: grafana-user-secret
  extraEnv:
  - name: GF_DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: grafana-user-secret
        key: username
  - name: GF_DATABASE_PASSWORD__FILE
    value: /etc/secrets/password

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      cert-manager.io/revision-history-limit: "3"
      external-dns.alpha.kubernetes.io/enabled: "true"
      cert-manager.io/duration: "2160h"
      cert-manager.io/renew-before: "720h"

    hosts: [ grafana.prod.techsecom.io ]
    tls:
    - hosts:
      - grafana.prod.techsecom.io
      secretName: grafana-cert-tls
  sidecar:
    dashboards:
      enabled: false
      searchNamespace: ALL
      folder: /var/lib/grafana/dashboards
      provider:
        name: sidecarProvider
        allowUiUpdates: true
        foldersFromFilesStructure: true
  plugins:
  - grafana-piechart-panel
  - grafana-clock-panel
  # If you really want a world map plugin:
  - https://github.com/panodata/panodata-map-panel/releases/download/0.16.0/panodata-map-panel-0.16.0.zip;grafana-worldmap-panel-ng
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: "default"
        orgId: 1
        folder: "default"
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
      - name: kubernetes
        orgId: 1
        folder: Kubernetes
        type: file
        disableDeletion: false
        editable: true
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/kubernetes
      - name: nginx
        orgId: 1
        folder: Nginx
        type: file
        disableDeletion: false
        editable: true
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/nginx
      - name: 'teslamate'
        orgId: 1
        folder: Teslamate
        type: file
        disableDeletion: false
        # updateIntervalSeconds: -1
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/teslamate
      - name: thanos
        orgId: 1
        folder: Thanos
        type: file
        disableDeletion: false
        editable: true
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/thanos
      - name: loki
        orgId: 1
        folder: Loki
        type: file
        disableDeletion: false
        editable: true
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/loki
  dashboards:
    default:
      1-node-exporter:
        url: https://grafana.com/api/dashboards/22413/revisions/4/download
        datasource: Prometheus
      cert-manager:
        gnetId: 20842
        revision: 3
        datasource: Prometheus
      cloudnative-pg:
        url: https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/main/docs/src/samples/monitoring/grafana-dashboard.json
        datasource: Prometheus
      external-secrets:
        url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
        datasource: Prometheus
      argo-cd:
        url: https://raw.githubusercontent.com/argoproj/argo-cd/v2.14.9/examples/dashboard.json
        datasource: Prometheus
      frigate:
        url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/frigate.json
        datasource: influxdb
      home-assistant:
        url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/home_assistant.json
        datasource: home_assistant
      loki-logs:
        url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/loki_logs.json
        datasource: loki
      node-feature-discovery:
        url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
        datasource: Prometheus
      prometheus-exporter-summary:
        url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/prometheus_exporter_summary.json
        datasource: Prometheus
      trivy:
        url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-addons-trivy-operator.json
        datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
      pihole-ui:
        gnetId: 14475
        revision: 4
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus
        - name: VAR_PIHOLEDEVICES
          type: constant
          value: "3"

      blackbox:
        gnetId: 7587
        revision: 3
        datasource: Prometheus
        inputs:
        - name: DS_SIGNCL-PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus

      blackbox-icmp:
        gnetId: 20338
        revision: 3
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus

      synology-overview:
        gnetId: 14364
        revision: 10
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus
        - name: VAR_NASDEVICES
          type: constant
          value: "1"

      synology-detail:
        gnetId: 14284
        revision: 10
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus
        - name: VAR_NASDEVICES
          type: constant
          value: "1"

      minio:
        gnetId: 13502
        revision: 26
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus

      kubernetes-cluster:
        gnetId: 7249
        revision: 1
        datasource: Prometheus

      kubernetes-nodes:
        gnetId: 11074
        revision: 9
        datasource: Prometheus

      kubernetes-pods:
        gnetId: 6417
        revision: 1
        datasource: Prometheus

      volsync:
        gnetId: 21356
        revision: 3
        datasource: Prometheus
        inputs:
        - name: DS_PROMETHEUS
          pluginId: prometheus
          type: datasource
          value: Prometheus
        - name: VAR_REPLICATIONDESTNAME
          type: constant
          value: ".*"
    kubernetes:
      k8s-system-api-server:
        # renovate: dashboardName="Kubernetes / System / API Server"
        gnetId: 15761
        revision: 19
        datasource: Prometheus
      k8s-views-global:
        # renovate: dashboardName="Kubernetes / Views / Global"
        gnetId: 15757
        revision: 43
        datasource: Prometheus
      k8s-views-nodes:
        # renovate: dashboardName="Kubernetes / Views / Nodes"
        gnetId: 15759
        revision: 35
        datasource: Prometheus
      k8s-views-namespaces:
        # renovate: dashboardName="Kubernetes / Views / Namespaces"
        gnetId: 15758
        revision: 42
        datasource: Prometheus
      k8s-views-pods:
        # renovate: dashboardName="Kubernetes / Views / Pods"
        gnetId: 15760
        revision: 36
        datasource: Prometheus
      k8s-volumes:
        # renovate: dashboardName="K8s / Storage / Volumes / Cluster"
        gnetId: 11454
        revision: 14
        datasource: Prometheus
    nginx:
      nginx:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/nginx.json
        datasource: Prometheus
      nginx-request-handling-performance:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/request-handling-performance.json
        datasource: Prometheus

    teslamate:
      battery-health:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/battery-health.json
      charge-level:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charge-level.json
      charges:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charges.json
      charging-stats:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charging-stats.json
      drive-stats:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/drive-stats.json
      drives:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/drives.json
      efficiency:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/efficiency.json
      locations:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/locations.json
      mileage:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/mileage.json
      overview:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/overview.json
      projected-range:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/projected-range.json
      states:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/states.json
      statistics:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/statistics.json
      timeline:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/timeline.json
      trip:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/trip.json
      updates:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/updates.json
      vampire-drain:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/vampire-drain.json
      visited:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/visited.json
      charge-details:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/internal/charge-details.json
      drive-details:
        url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/internal/drive-details.json

    thanos:
      thanos-bucket-replicate:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/bucket-replicate.json
        datasource: Prometheus
      thanos-compact:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/compact.json
        datasource: Prometheus
      thanos-overview:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/overview.json
        datasource: Prometheus
      thanos-query:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/query.json
        datasource: Prometheus
      thanos-query-frontend:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/query-frontend.json
        datasource: Prometheus
      thanos-receieve:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/receive.json
        datasource: Prometheus
      thanos-rule:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/rule.json
        datasource: Prometheus
      thanos-sidecar:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/sidecar.json
        datasource: Prometheus
      thanos-store:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/thanos/dashboards/store.json
        datasource: Prometheus
    loki:
      loki-bloom-build:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-bloom-build.json
        datasource: loki
      loki-bloom-gateway:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-bloom-gateway.json
        datasource: loki
      loki-chunks:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-chunks.json
        datasource: loki
      loki-deletion:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-deletion.json
        datasource: loki
      loki-logs:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-logs.json
        datasource: loki
      loki-mixin-recording-rules:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-mixin-recording-rules.json
        datasource: loki
      loki-operational:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-operational.json
        datasource: loki
      loki-reads-resources:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-reads-resources.json
        datasource: loki
      loki-reads:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-reads.json
        datasource: loki
      loki-retention:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-retention.json
        datasource: loki
      loki-thanos-object-storage:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-thanos-object-storage.json
        datasource: loki
      loki-writes-resources:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-writes-resources.json
        datasource: loki
      loki-writes:
        url: https://raw.githubusercontent.com/monitoring-mixins/website/refs/heads/master/assets/loki/dashboards/loki-writes.json
        datasource: loki
        # loki-logs-overview:
        #   gnetId: 18494
        #   title: Kubernetes Logs from Loki
        #   revision: 1
        #   datasource: loki
        #   description: Overview of Kubernetes logs from Loki
        # interval: 15s

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        isDefault: false
        jsonData:
          timeInterval: "15s"
          queryTimeout: "60s"
          httpMethod: POST
      - name: Thanos
        uid: thanos
        type: prometheus
        access: proxy
        url: http://thanos-query.monitoring.svc.cluster.local:10902
        isDefault: false
      - name: loki
        type: loki
        # uid: loki
        access: proxy
        url: http://loki-stack.logging.svc.cluster.local:3100
        isDefault: true
        jsonData:
          maxLines: 1000
          # derivedFields:
          # - datasourceUid: Tempo
          #   matcherRegex: (?:trace_id)=(\w+)
          #   name: TraceID
          #   # url will be interpreted as query for the datasource
          #   # Use $$ (double-dollar sign) when your configuration needs a literal dollar sign.
          #   url: '$${__value.raw}'
          #   # optional for URL Label to set a custom display label for the link.
          #   urlDisplayLabel: 'View Trace'
      - name: Alertmanager
        type: alertmanager
        access: proxy
        url: http://kube-prometheus-stack-alertmanager.monitoring.svc.cluster.local:9093
        jsonData:
          implementation: prometheus
          handleGrafanaManagedAlerts: true
