longhorn:
  persistence:
    defaultClass: true
    defaultFsType: ext4
  preUpgradeChecker:
    jobEnabled: true
    upgradeVersionCheck: true
  defaultSettings:
    defaultDataPath: "/var/longhorn"
    # This tells Longhorn to use the 'longhorn' bucket of our S3.
    backupTarget: s3://longhorn@us-east-1/longhorn
    # The secret where the MinIO credentials are stored.
    backupTargetCredentialSecret: minio-secret
    # Usually Longhorn does not store volumes on the node that it runs on. This setting allows that.
    # replicaSoftAntiAffinity: true
    # replicaZoneSoftAntiAffinity: true
    # nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
  ingress:
    enabled: true
    ingressClassName: nginx
    host: longhorn.prod.techsecom.io

    tls: enabled
    tlsSecret: longhorn.local-tls

    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      external-dns.alpha.kubernetes.io/enabled: "true"
